*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior:smooth;
}

:root {
    --dark-bg-color: #1F2937;
    --dark-bg-color2: #293546;
    --button-bg: #3882F6;
    --quote-bg: #E5E7EB;
    --main-text-color: #F9FAF8;
    --sec-text-color: #E5E7EB;
    --dark-text-color: #1F2937;
}

header {
    padding: 0 8rem;
    height: 3.5rem;
    position:static;
    background-color: var(--dark-bg-color2);
}

h1 {
    font-size: 3rem;
    color: var(--main-text-color);
    font-weight: bolder;
    margin-bottom: 1rem;
}



ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--sec-text-color);
}
 
p {
    line-height: 1.5;
}

.header-logo {
    color: var(--sec-text-color);
}

.hero-text {
    margin-bottom: 1rem;
    color: var(--sec-text-color);
}

button {
    width:fit-content;
    padding: .3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--button-bg);
    color: var(--sec-text-color);
    font-weight: 500;
    border-style: none;
    cursor: pointer;
}

section {
    display: flex;
    flex: 0 0 auto;
    gap: 2rem;
    align-items: center;
    padding: 0 8rem;
    height: 80vh;
    overflow: hidden;
}

.logo {
    font-size: 2rem;
    color: var(--button-bg);
    font-family: 'Agbalumo', serif;
}

.meaning {
    font-size: smaller;
}

.header-logo {
    font-size: 2rem;
    font-family: 'Agbalumo', serif;
}

.hero-img {
    position: relative;
    top: 100px;
    left: 50px;
    width: 1000px;
    min-width: 700px;
    transform: scaleX(-1);
}

.hero {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-content {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    flex: 0 0 350px;
}

.container {
    width: 100%;
}

.feature-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem
}

.feature-card {
    text-align: center;
    max-width: 250px
}

.feature-card img {
    max-width: 200px;
    padding: 2rem;
    border: 5px solid var(--button-bg);
    border-radius: 20px;
    margin-bottom: 1.5rem;
    box-shadow: 0 10px 20px rgb(201, 201, 201);
}

.feature-card img:hover {
    transform: scale(105%);
    box-shadow: 0 8px 20px rgb(201, 201, 201);
}

.feature-title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}